body {
  text-align: center;
}
#images {
  width: 400px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  border-radius: 10px;
}

#images img {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
  transition: all linear 00ms;
  -o-transition: all linear 00ms;
  -moz-transition: all linear 00ms;
  -webkit-transition: all linear 00ms;
}

#images img:target {
  left: 0;
  z-index: 1;
  opacity: 1;
}
#images img:first-child {
  left: 0;
  opacity: 1;
}
#slider a {
  text-decoration: none;
  background: #e3f1fa;
  border: 1px solid #c6e4f2;
  padding: 4px 6px;
  color: #222;
  position: relative;
  top: 226px;
  z-index: 2;
}
#slider a:hover {
  background: #c6e4f2;
  position: relative;
  z-index: 2;
}
.spotCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  position: relative;
  top: 100px;
  border-radius: 10px;
  border: 1px solid #c6e4f2;
  height: 1000px;
  width: 100%;
}
.bookingCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #c6e4f2;
  background-color: green;
  height: 400px;
  width: 100%;
}

.review {
  border: 1px solid #c6e4f2;
  width: 400px;
}
