body {
  text-align: center;
  background-color: rgb(24, 24, 24);
  color: white;
}
#images {
  width: 400px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
  border-radius: 10px;
}

#images img {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 1;
  opacity: 0;
  transition: all linear 00ms;
  -o-transition: all linear 00ms;
  -moz-transition: all linear 00ms;
  -webkit-transition: all linear 00ms;
}

#images img:target {
  left: 0;
  z-index: 1;
  opacity: 1;
}
#images img:first-child {
  left: 0;
  opacity: 1;
}
#slider a {
  text-decoration: none;
  background: #e3f1fa;
  border: 1px solid #c6e4f2;
  padding: 4px 6px;
  color: #222;
  position: relative;
  top: 226px;
  z-index: 2;
}
#slider a:hover {
  background: #c6e4f2;
  position: relative;
  z-index: 2;
}
.spotCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  position: relative;
  top: 100px;
  border-radius: 10px;
  border: 1px solid #ff611e;
  box-shadow: 0px 2px 10px #cf319a;
  height: auto;
  width: 100%;
  margin-bottom: 150px;
}
.bookingCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #f46b2c;
  /* background-color: rgb(255, 255, 255); */
  color: rgb(255, 255, 255);
  height: 300px;
  width: 50%;
  box-shadow: 0px 2px 10px #cf319a;
}

.review {
  border: 1px solid #a6440f;
  width: 400px;
}
.images {
  box-shadow: 0px 0px 10px #ba315c;
}

.review {
  box-shadow: 0px 0px 10px #ba315c;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #ba315c;
  border: 1px solid #a6440f;
  /* background-color: white; */
  color: rgb(255, 255, 255);
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 40px;
  width: 600px;
}
.ReviewCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: rgb(255, 255, 255);
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}
.ownerControls {
  display: flex;
  flex-direction: row;
  width: 300px;
  padding: 20px;
}

.editButton {
  margin-top: 10px;
}

.ownerControls > button {
  margin: 10px;
}

.navEdit {
  color: white;
  text-decoration: none;
}

.spot-info {
  width: 400px;
}
