body {
    font-family: 'Roboto', sans-serif;
}
li {list-style-type: none;}

.userButton {
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);
    transition: box-shadow .3s;
    border-radius:10px;
    background: #fff;
    float: left;
}
.userButton:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navBar {
    width:100%;
    color: rgb(0, 0, 0);
    position: absolute;
    top:0;
    left:0;
    right: 0;
    margin: 0;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgba(0, 0, 0,);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.navBar a {
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);
    transition: box-shadow .3s;
    border-radius:5px;
    background: #fff;
    float: left;
}

.navBar a:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.navBar button {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.75);
    transition: box-shadow .3s;
    border-radius:5px;
    background: #fff;
    float: left;
}

.navBar button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.navBar > ul {
    display: flex;
    justify-content: space-between;
}

.sessionBtns > button {
    display: flex;
    margin: 10px;
}

.li {
    display: flex;
    justify-content: space-evenly;
}